:root,
[data-theme='light'] {
  --fg-1: theme('colors.gray.600');
  --fg-2: theme('colors.gray.900');

  --bg-1: theme('colors.stone.100');
  --bg-2: theme('colors.stone.200');

  --brand-1: rgb(186, 194, 215);
  --brand-2: rgb(170, 186, 225);
}

[data-theme='dark'] {
  --fg-1: theme('colors.gray.300');
  --fg-2: theme('colors.gray.50');

  --bg-1: theme('colors.zinc.800');
  --bg-2: theme('colors.zinc.700');

  --brand-1: rgb(157, 180, 237);
  --brand-2: rgb(183, 200, 244);
}
