:root {
  --brand: #7982d4;
}

:root,
[data-theme='light'] {
  --fg-1: #232323;
  --fg-2: #232323;

  --bg-1: #fbf8f3;
  --bg-2: #e7e3dc;
}

[data-theme='dark'] {
  --fg-1: #fbf8f3;
  --fg-2: #fbf8f3;

  --bg-1: #1a1919;
  --bg-2: #232323;
}
