@import '@fontsource/nunito';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/800.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'colors';
@import 'prism';

body {
  @apply font-serif font-bold tracking-wide antialiased bg-2
         text-2 text-fluid-3;
}

p {
  @apply max-w-prose;
}

a,
button,
input {
  @apply focus-visible:outline
         focus-visible:outline-2
         focus-visible:outline-brand-1
         focus-visible:outline-offset-4;
}
