@import 'prism-theme-vars/base.css';

:root {
  --prism-background: theme('backgroundColor.1');
  --prism-foreground: theme('textColor.2');
  --prism-keyword: theme('colors.brand.2');
  --prism-string: theme('textColor.1');
  --prism-class: theme('textColor.2');
  // --prism-number: theme('colors.accent');
  --prism-function: theme('textColor.2');
  --prism-punctuation: theme('textColor.1');
  --prism-operator: theme('textColor.1');
}
